# Ignore macOS system files
.DS_Store

# Ignore virtual environments
.venv/

# Python cache files
__pycache__/
*.pyc

# Ignore CSV input & output files
*.csv

# Ignore all images and output visualizations
*.png
*.jpg
*.jpeg
*.svg